.tic-logo {
  margin-inline: var(--sp-100);
  padding-block: var(--sp-225);
}

.launch-title h1 {
  font-family: var(--font-serif);
  font-size: var(--text-xl);
  font-weight: 600;
  text-transform: capitalize;
}

.star-icon {
  width: 1.25rem;
  height: 1.313rem;
}

.loading-dots {
  display: inline-block;
  min-width: 1.5em;
}

.dot {
  opacity: 0;
  animation: dots 3.5s steps(1, end) infinite;
}

.dot:nth-child(1) {
  animation-name: dot1;
  animation-delay: 0.2s;
}
.dot:nth-child(2) {
  animation-name: dot2;
  animation-delay: 0.5s;
}
.dot:nth-child(3) {
  animation-name: dot3;
  animation-delay: 0.8s;
}

@keyframes dot1 {
  0%,
  25%,
  100% {
    opacity: 0;
  }
  35%,
  80% {
    opacity: 1;
  }
}

@keyframes dot2 {
  0%,
  35%,
  100% {
    opacity: 0;
  }
  45%,
  80% {
    opacity: 1;
  }
}

@keyframes dot3 {
  0%,
  45%,
  100% {
    opacity: 0;
  }
  55%,
  65%,
  75%,
  80% {
    opacity: 1;
  }
}

.contact-title {
  font-weight: 500;
  font-size: var(--sp-87);
}

.social {
  display: inline-flex;
  gap: var(--sp-100);
}

.social img {
  width: 1.25rem;
  height: 1.25rem;
}

.social a {
  text-decoration: none;
  color: var(--brown-900);
  font-size: var(--sp-75);
}

.social a:hover {
  cursor: pointer;
  color: var(--blue-300);
}
