header,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-bar {
  width: 100%;
  height: 2.5rem;
  background-color: var(--blue-300);
  border-bottom: 1px solid var(--brown-900);
}

.tic-logo img {
  width: min(625px, 100vw);
}

main {
  display: grid;
  flex: 1;
}

.content {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
}

.left-col {
  order: 2;
  margin-inline: auto;
}

.left-col img {
  width: min(34rem, 100vw);
}

.right-col {
  order: 1;
}

.launch-title {
  display: flex;
  gap: var(--sp-100);
  justify-content: center;
  align-items: center;
  margin-bottom: var(--sp-500);
}

.socials {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: var(--sp-75);
}

@media (min-width: 62rem) {
  .content {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: var(--sp-450);
    width: 90%;
    margin-inline: auto;
    margin-bottom: var(--sp-450);
  }

  .left-col {
    order: 1;
  }

  .right-col {
    order: 2;
  }

  .launch-title {
    justify-content: flex-start;
  }

  .socials {
    align-items: flex-start;
  }
}
