body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-bar {
  width: 100%;
  height: 2.5rem;
}

main {
  display: grid;
  flex: 1;
}

.content {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
}

.right-col {
  order: 1;
}

.left-col {
  order: 2;
  margin-inline: auto;
  width: 100%;
}

.left-col img {
  width: 100vw;
  object-fit: cover;
  aspect-ratio: 3 / 4;
}

footer {
  background-color: var(--blue-300);
  border-top: 1px solid var(--brown-900);
}

footer p {
  font-size: clamp(var(--text-xxs), 2vw, var(--text-md));
  padding-block: var(--sp-87);
}

@media (min-width: 62rem) {
  .content {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: var(--sp-450);
    width: 90%;
    margin-inline: auto;
    margin-bottom: var(--sp-450);
  }

  .right-col {
    order: 2;
  }

  .left-col {
    order: 1;
  }
}
