.launch-title {
  margin-top: 1.75rem;
}

.social.email {
  margin-top: var(--sp-75);
}

.social.insta {
  margin-bottom: var(--sp-225);
}

footer {
  background-color: var(--blue-300);
  border-top: 1px solid var(--brown-900);
}

footer p {
  font-size: var(--text-xxs);
  padding-block: var(--sp-87);
}
