:root {
  --brown-900: hsl(17, 51%, 12%);
  --cream-50: hsl(33, 38%, 94%);
  --blue-300: hsl(202, 60%, 79%);

  --sp-75: 0.75rem;
  --sp-87: 0.875rem;
  --sp-100: 1rem;
  --sp-225: 2.25rem;
  --sp-450: 4.5rem;
  --sp-500: 5rem;

  --text-xxs: 0.5rem;
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-md: 1rem;
  --text-xl: 1.25rem;
  --text-sl: 2.25rem;

  --font-sans:
    "Manrope", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  --font-serif: "Baskervville SC", Georgia, "Times New Roman", Times, serif;
}
